.PanelHeaderButton {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  color: currentColor;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 24px;
  padding: 0 12px;
  position: relative;
}

.PanelHeaderButton[disabled] {
  opacity: .6;
}

.PanelHeaderButton.PanelHeaderButton--notPrimitive {
  width: 24px;
}

.PanelHeaderButton:first-child {
  margin-left: -12px;
}

.PanelHeaderButton:last-child {
  margin-right: -12px;
}

.PanelHeaderButton + .PanelHeaderButton {
  padding-left: 8px;
  margin-left: -4px;
}

/*
 * iOS
 */

.PanelHeaderButton.PanelHeaderButton--ios {
  font-size: 17px;
  line-height: 44px;
  height: 44px;
}

/*
 * Android
 */

 .PanelHeaderButton.PanelHeaderButton--android {
  border-radius: 50px;
  height: 48px;
  line-height: 48px;
}

/**
* VKCOM
*/

.PanelHeaderButton--vkcom {
  color: var(--header_text_secondary);
}

.PanelHeaderButton--vkcom > :not(.Counter) {
  transition: opacity .3s;
  opacity: .7;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--hover > :not(.Counter),
.PanelHeaderButton--vkcom.PanelHeaderButton--active > :not(.Counter) {
  opacity: 1;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--primitive {
  height: 48px;
  line-height: 48px;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--notPrimitive {
  border-radius: 50%;
}
