.SubnavigationBar__in {
  /* Отрицательный margin нужен, чтобы компенсировать увеличенный из-за тени padding (12px -> 20px) */
  margin: -8px 0;
}

.SubnavigationBar__scrollIn {
  padding: 20px 16px;
  display: flex;
}

.SubnavigationBar .SubnavigationBar__scrollIn > *:not(:first-child) {
  margin-left: 8px;
}

.SubnavigationBar--fixed .SubnavigationBar__scrollIn > * {
  flex: 1;
  min-width: 0;
}

/**
 * iOS
 */

.SubnavigationBar--ios .SubnavigationBar__scrollIn {
  padding: 20px 12px;
}
