.SegmentedControl {
  height: 44px;
  padding: 2px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--field_background);
}

.SegmentedControl__in {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 100ms ease-out;
}

.SegmentedControl__slider {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  transition: transform 150ms;
}

/*
 * iOS
 */
.SegmentedControl--ios {
  border-radius: 10px;
}
